################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S3.Demo/.vs/S3.Demo
/LambdaDemo/.vs/LambdaDemo
/DynamoDB/.vs/DynamoDB
/GatewayDemo/.vs
